VITE_PADDLE_ENV=sandbox
VITE_PADDLE_CLIENT_TOKEN=ptk_xxx_client_token

VITE_PRICE_BASIC_MONTH=pri_01k5wq6b65vmkve97p0btjfr5x
VITE_PRICE_BASIC_YEAR=pri_01k5wqbb5bwz3ezmqd7dp7y2ef
VITE_PRICE_PRO_MONTH=pri_01k5wr9nmmcb5w7j1c4ss6rf47
VITE_PRICE_PRO_YEAR=pri_01k5wrcmwnktar6q34vx5w5ppb
VITE_PRICE_ULTRA_MONTH=pri_01k5xvtqxsy26ga7ve67ee8dae
VITE_PRICE_ULTRA_YEAR=pri_01k5xvx9y01d1dy90e907ftk8h
